.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.title{
  font-size: 2rem;
  margin-top: 1rem;
}

.inputBox{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: 1rem;
}

.inputBox .input{
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
}

.inputBox .inputError{
  border: 1px solid #f00 !important;
}

.inputBox button{
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.weatherBox{
  width: 30%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.weatherBox img{
  width: 100px;
  height: 100px;
}

.weatherBox h2{
  font-size: 1.5rem;
  margin-top: 1rem;
}

.weatherBox p{
  font-size: 1rem;
  margin-top: 0.5rem;
}

.error{
  color: red;
  font-size: 1rem;
  margin-top: 1rem;
}